    
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1> Welcome to book store application </h1>
    <h1>@DateTime.Now.ToString("dd-MM-yyy")</h1>

    <h1>Sum = @(3+5)</h1>

    <hr/>

    @{ 
        int a = 10;
        int b = 20;
        int c = a + b;
    }

    <h1>Sum = @c</h1>

    <h2>My email - vinaysingh@gmail.com</h2>
    <h2>Twitter - @@vinaysingh</h2>

    <p>This is the home page of book store application</p>
</body>
</html>
