################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebGentleBookStore/.vs/WebGentleBookStore
/WebGentleBookStore/WebGentleBookStore/bin/Debug/netcoreapp3.1
/WebGentleBookStore/WebGentleBookStore/obj
